In [266]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [267]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/varagantibasanthkumar/miniconda3/lib/python3.11/site-packages (2.0.38)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/varagantibasanthkumar/miniconda3/lib/python3.11/site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [268]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/varagantibasanthkumar/miniconda3/lib/python3.11/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [269]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.10.tar.gz (385 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [23 lines of output]
      running egg_info
      creating /private/var/folders/qn/srmq59810xbb7c26q_w112f00000gn/T/pip-pip-egg-info-jogr7ylp/psycopg2.egg-info
      writing /private/var/folders/qn/srmq59810xbb7c26q_w112f00000gn/T/pip-pip-egg-info-jogr7ylp/psycopg2.egg-info/PKG-INFO
      writing dependency_links to /private/var/folders/qn/srmq59810xbb7c26q_w112f00000gn/T/pip-pip-egg-info-jogr7ylp/psycopg2.egg-info/dependency_links.txt
      writing top-level names to /private/var/folders/qn/srmq59810xbb7c26q_w112f00000gn/T/pip-pip-egg-info-jogr7ylp/psycopg2.egg-info/top_level.txt
      writing manifest file '/private/var/folders/qn/srmq59810xbb7c26q_w112f00000gn/T/pip-pip-egg-info-jogr7ylp/psycopg2.egg-info/SOURCES.txt'

      Error: pg_config executable not found.

      pg_config is required to build psycopg2 from source.  Please add the directory
      containing pg_config to the $PATH or specify the full executable path with the
      option:

          python setup.py build_ext --pg-config /path/to/pg_config build ...

      or with the pg_config option in 'setup.cfg'.

      If you prefer to avoid building psycopg2 from source, please install the PyPI
      'psycopg2-binary' package instead.

      For further information please check the 'doc/src/install.rst' file (also at
      <https://www.psycopg.org/docs/install.html>).

      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.

In [520]:
order_df = pd.read_csv("data/orders.csv").sample(10000)

In [521]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
3048954,3419785,183948,prior,26,5,17,1.0
1187392,2643299,71373,prior,17,5,15,21.0
3122016,2830116,188211,prior,4,2,14,13.0
380612,1211060,22904,prior,9,1,7,16.0
1821920,2139326,109404,prior,24,1,15,16.0

In [522]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products.csv").sample(10000)
products_df = pd.read_csv("data/products.csv")

In [524]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [525]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [526]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
7208274     761131       26367                 19          0
17170784   1811342       45763                  6          0
13622983   1437842       27730                  3          1
10325073   1090054       21405                 14          1
19522921   2059112       47890                  8          1

In [527]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [594]:
if 'cur' in locals():
    cur.close()
if 'conn' in locals():
    conn.close()
if 'engine' in locals():
    engine.dispose()

In [595]:
print("DataFrame columns:", aisles_df.columns)
print("\nFirst few rows:")
print(aisles_df.head())

DataFrame columns: Index(['aisle_id', 'aisle'], dtype='object')

First few rows:
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [596]:
#connection
try:
    conn = psycopg2.connect(dbname="ecom_analysis", user='postgres', password='Vbk0803', port='5432')
except:
    print("connection was unsuccessful")

In [597]:
cur = conn.cursor()

In [598]:
engine = create_engine('postgresql+psycopg2://postgres:Vbk0803@localhost/ecom_analysis')

In [599]:
cur.execute("DROP TABLE IF EXISTS aisles CASCADE;")
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR(255)
)
""")
conn.commit()

In [600]:
cur.execute("""
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'aisles'
ORDER BY ordinal_position;
""")
table_structure = cur.fetchall()
print("Table structure:", table_structure)

Table structure: [('aisle_id', 'integer'), ('aisle', 'character varying')]

In [601]:
for index, row in aisles_df.iterrows():
    cur.execute("""
    INSERT INTO aisles (aisle_id, aisle)
    VALUES (%s, %s)
    """, (row['aisle_id'], row['aisle']))

conn.commit()

In [602]:
cur.execute("SELECT COUNT(*) FROM aisles")
count = cur.fetchone()[0]
print(f"\nInserted {count} rows")

Inserted 134 rows

In [603]:
cur.execute("DROP TABLE departments CASCADE;")

In [604]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [605]:
# conn.rollback()

In [606]:
cur.execute("DROP TABLE products CASCADE;")

In [607]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [608]:
cur.execute("DROP TABLE orders CASCADE;")

In [609]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order FLOAT
)
""")

In [610]:
cur.execute("DROP TABLE order_products CASCADE;")

In [611]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    FOREIGN KEY (order_id) REFERENCES orders(order_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id)
)
""")

In [612]:
conn.commit()

In [613]:
print(aisles_df.shape)
print(aisles_df.head())

(134, 2)
   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [614]:
print(order_df.columns)

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order'],
      dtype='object')

In [615]:
order_df.drop('eval_set', inplace=True, axis=1, errors='ignore')

In [616]:
cur.execute("""
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'aisles';
""")
print(cur.fetchall())

In [622]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT EXISTS (
            SELECT FROM information_schema.tables 
            WHERE table_name = 'aisles'
        )
    """))
    table_exists = result.scalar()

    if table_exists:
        conn.execute(text("DROP TABLE aisles CASCADE"))
        conn.commit()
    else:
        print("Table 'aisles' does not exist, skipping drop operation.")

In [623]:
print(engine.url)

postgresql+psycopg2://postgres:***@localhost/ecom_analysis

In [624]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS aisles (
            aisle_id SERIAL PRIMARY KEY,
            aisle TEXT NOT NULL
        )
    """))
    conn.commit()

aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [625]:
# from sqlalchemy import text

# with engine.connect() as conn:
#     for _, row in aisles_df.iterrows():
#         conn.execute(text("""
#             INSERT INTO aisles (aisle_id, aisle) 
#             VALUES (:aisle_id, :aisle)
#             ON CONFLICT (aisle_id) DO UPDATE 
#             SET aisle = EXCLUDED.aisle
#         """), row.to_dict())
#     conn.commit()

In [626]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [627]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [628]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [641]:
# missing_orders = pd.read_sql("""
#     SELECT DISTINCT order_id 
#     FROM order_products 
#     WHERE order_id NOT IN (SELECT order_id FROM orders)
# """, con=engine)

# print(missing_orders.shape)  # Check how many are missing
# print(missing_orders.head()) # View some missing order_ids

(0, 1)
Empty DataFrame
Columns: [order_id]
Index: []

In [642]:
df = pd.read_sql("SELECT * FROM information_schema.tables WHERE table_name = 'orders'", con=engine)
print(df)

   table_catalog table_schema table_name  table_type  \
0  ecom_analysis       public     orders  BASE TABLE

  self_referencing_column_name reference_generation user_defined_type_catalog  \
0                         None                 None                      None

  user_defined_type_schema user_defined_type_name is_insertable_into is_typed  \
0                     None                   None                YES       NO

  commit_action
0          None

In [643]:
duplicate_orders = order_df[order_df.duplicated(subset=['order_id'], keep=False)]
print("Number of duplicate order_ids:", len(duplicate_orders))

Number of duplicate order_ids: 0

In [644]:
order_df_clean = order_df.drop_duplicates(subset=['order_id'])

In [645]:
existing_orders = pd.read_sql("SELECT order_id FROM orders", con=engine)
print("Number of existing orders:", len(existing_orders))

Number of existing orders: 10000

In [646]:
new_orders = order_df_clean[~order_df_clean['order_id'].isin(existing_orders['order_id'])]
print("Number of new orders to insert:", len(new_orders))

Number of new orders to insert: 0

In [647]:
if len(new_orders) > 0:
    new_orders.to_sql('orders', con=engine, if_exists='append', index=False)

In [648]:
final_count = pd.read_sql("SELECT COUNT(*) FROM orders", con=engine)
print("Final number of orders in database:", final_count.iloc[0,0])

Final number of orders in database: 10000

In [652]:
# Get existing order IDs from the database
existing_orders = pd.read_sql("SELECT order_id FROM orders", con=engine)
existing_order_ids = set(existing_orders['order_id'])

# Filter out orders that already exist
new_orders = order_df[~order_df['order_id'].isin(existing_order_ids)]
print(f"Total orders in DataFrame: {len(order_df)}")
print(f"New orders to insert: {len(new_orders)}")

# Insert only new orders
if len(new_orders) > 0:
    new_orders.to_sql('orders', con=engine, if_exists='append', index=False)

Total orders in DataFrame: 10000
New orders to insert: 0

In [653]:
# Get updated list of valid order IDs from database
valid_orders = pd.read_sql("SELECT order_id FROM orders", con=engine)
valid_order_ids = set(valid_orders['order_id'])

# Filter order_products to only include valid order_ids
valid_order_products = order_products_df[order_products_df['order_id'].isin(valid_order_ids)]
print(f"Total order_products: {len(order_products_df)}")
print(f"Valid order_products to insert: {len(valid_order_products)}")

# Insert valid order_products
if len(valid_order_products) > 0:
    valid_order_products.to_sql('order_products', con=engine, if_exists='append', index=False)

Total order_products: 10000
Valid order_products to insert: 24

In [654]:
# Check the overlap between DataFrames
orders_in_df = set(order_df['order_id'])
products_orders = set(order_products_df['order_id'])

print("\nAnalysis:")
print(f"Unique order_ids in orders DataFrame: {len(orders_in_df)}")
print(f"Unique order_ids in order_products DataFrame: {len(products_orders)}")
print(f"Order_ids in both DataFrames: {len(orders_in_df.intersection(products_orders))}")

# Check what's in the database
db_orders = pd.read_sql("SELECT COUNT(DISTINCT order_id) as count FROM orders", con=engine)
print(f"\nUnique orders in database: {db_orders['count'].iloc[0]}")

# Sample some order_ids to compare
print("\nSample order_ids from order_products:")
print(order_products_df['order_id'].head())
print("\nSample order_ids from orders:")
print(order_df['order_id'].head())

Analysis:
Unique order_ids in orders DataFrame: 10000
Unique order_ids in order_products DataFrame: 9977
Order_ids in both DataFrames: 24

Unique orders in database: 10000

Sample order_ids from order_products:
7208274      761131
17170784    1811342
13622983    1437842
10325073    1090054
19522921    2059112
Name: order_id, dtype: int64

Sample order_ids from orders:
3048954    3419785
1187392    2643299
3122016    2830116
380612     1211060
1821920    2139326
Name: order_id, dtype: int64

In [ ]:
# First, let's drop the existing orders table since we need to match with order_products
cur.execute("DROP TABLE orders CASCADE;")
conn.commit()

# Get all unique order_ids that we need in the database
needed_order_ids = set(order_products_df['order_id'])

# Filter orders DataFrame to only include orders that have products
orders_needed = order_df[order_df['order_id'].isin(needed_order_ids)]
print(f"Orders needed for order_products: {len(orders_needed)}")

# Create and populate orders table with the correct order_ids
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order FLOAT
)
""")
conn.commit()

# Insert the needed orders
orders_needed.to_sql('orders', con=engine, if_exists='append', index=False)

# Create and populate order_products table
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    FOREIGN KEY (order_id) REFERENCES orders(order_id)
)
""")
conn.commit()

# Now insert order_products
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

# Verify the results
print("\nVerification:")
cur.execute("SELECT COUNT(*) FROM orders")
print(f"Orders in database: {cur.fetchone()[0]}")
cur.execute("SELECT COUNT(*) FROM order_products")
print(f"Order_products in database: {cur.fetchone()[0]}")

Orders needed for order_products: 24

In [ ]:
df = pd.read_sql("SELECT COUNT(*) FROM orders", con=engine)
print(df)

In [ ]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

In [ ]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)